!!! 5
/[if lt IE 7]   <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7" lang="en-us">
/[if IE 7]      <html class="no-js lt-ie10 lt-ie9 lt-ie8" lang="en-us">
/[if IE 8]      <html class="no-js lt-ie10 lt-ie9" lang="en-us">
/[if IE 9]      <html class="no-js lt-ie10 lt-ie9" lang="en-us">
/[if lt IE 10]  <html class="no-js lt-ie10" lang="en-us">
/[if !IE]>
%html{lang: 'en', class: 'no-js'}
  /<![endif]
  %head
    %title #{data.page.title || "Dima Berastau"}
    %meta(http-equiv="content-type" content="text/html" charset="utf-8")
    %meta(http-equiv="x-ua-compatible" content="ie=edge,chrome=1")
    %meta(name="description" content="Dima Berastau is a developer in Whistler, BC, Canada specializing in web and mobile applications.")
    %meta(name="author" content="Dima Berastau")

    -# Standard viewport tag to set the viewport to the device's width,
    -# Android 2.3 devices need this so 100% width works properly and
    -# doesn't allow children to blow up the viewport width
    %meta{content: "initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width", name: "viewport"}

    -# Fix for iPhone 5 fullscreen web apps
    %meta(name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1" media="(device-height: 568px)")

    -# Stylesheets
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans'
    = stylesheet_link_tag '//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'
    = stylesheet_link_tag '//fotorama.s3.amazonaws.com/4.6.2/fotorama.css'
    = stylesheet_link_tag 'application'
  %body{class: current_page.data.body_class || 'page'}
    = yield
    -# Javascripts
    = javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js'
    = javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js'
    = javascript_include_tag '//fotorama.s3.amazonaws.com/4.6.2/fotorama.js'
    = javascript_include_tag 'application'

    - if build?
      -# Google Analytics
      :javascript
        var _gaq=[['_setAccount','UA-26902827-1'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));