#content
  = image_tag 'profile.png', :class => 'profile'
  %ul.timeline
    %li
      .timeline-summary
        %p
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. In mattis eros in leo rhoncus lacinia. Morbi faucibus pellentesque leo sit amet gravida. Etiam faucibus vitae purus et tincidunt. Aliquam non vulputate sapien, id imperdiet dui. Nullam justo mauris, consequat imperdiet fringilla eget, sollicitudin a eros. Praesent facilisis, orci a convallis iaculis, nunc nisl consequat massa, sollicitudin malesuada erat lacus ut massa.
        %p
          Nam finibus in nisl ut iaculis. Fusce id tellus lorem. Morbi ornare libero elit, interdum pretium ligula porta nec. Aenean lobortis arcu eu lacus tincidunt, ac imperdiet tellus lobortis. Aliquam vel purus eu odio efficitur sagittis a vitae quam. Vivamus accumsan sapien quis mauris posuere, in ullamcorper ipsum egestas. Morbi eu velit luctus, iaculis lectus tempor, pellentesque orci. Nunc feugiat elementum sollicitudin.
    %li
      .timeline-badge.work
        %i.fa.fa-star
      .timeline-panel
        .timeline-heading
          %h4 CTO, Karmasoft
          %p
            %small.text-muted
              %i.fa.fa-calendar-o
              Jun 2012 - Current
        .timeline-body
          %p
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In mattis eros in leo rhoncus lacinia. Morbi faucibus pellentesque leo sit amet gravida. Etiam faucibus vitae purus et tincidunt. Aliquam non vulputate sapien, id imperdiet dui. Nullam justo mauris, consequat imperdiet fringilla eget, sollicitudin a eros. Praesent facilisis, orci a convallis iaculis, nunc nisl consequat massa, sollicitudin malesuada erat lacus ut massa.
          .screenshots
            = link_to image_tag('default.jpg', 'data-src' => '/images/default.jpg'), "#1", :class => 'open-modal'
            = link_to image_tag('default.jpg', 'data-src' => '/images/default.jpg'), "#2", :class => 'open-modal'
            = link_to image_tag('default.jpg', 'data-src' => '/images/default.jpg'), "#3", :class => 'open-modal'
            = link_to image_tag('default.jpg', 'data-src' => '/images/default.jpg'), "#4", :class => 'open-modal'
            = link_to image_tag('default.jpg', 'data-src' => '/images/default.jpg'), "#5", :class => 'open-modal'
            = link_to image_tag('default.jpg', 'data-src' => '/images/default.jpg'), "#6", :class => 'open-modal'
    %li.timeline-inverted
      .timeline-badge.work
        %i.fa.fa-lemon-o
      .timeline-panel
        .timeline-heading
          %h4 CTO, Jiber Media
          %p
            %small.text-muted
              %i.fa.fa-lemon-o
              Jan 2010 - Apr 2012
        .timeline-body
          %p
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In mattis eros in leo rhoncus lacinia. Morbi faucibus pellentesque leo sit amet gravida. Etiam faucibus vitae purus et tincidunt. Aliquam non vulputate sapien, id imperdiet dui. Nullam justo mauris, consequat imperdiet fringilla eget, sollicitudin a eros. Praesent facilisis, orci a convallis iaculis, nunc nisl consequat massa, sollicitudin malesuada erat lacus ut massa.
          .screenshots
            = link_to image_tag('default.jpg', 'data-src' => '/images/default.jpg'), "#7", :class => 'open-modal'
            = link_to image_tag('default.jpg', 'data-src' => '/images/default.jpg'), "#8", :class => 'open-modal'
            = link_to image_tag('default.jpg', 'data-src' => '/images/default.jpg'), "#9", :class => 'open-modal'
            = link_to image_tag('default.jpg', 'data-src' => '/images/default.jpg'), "#10", :class => 'open-modal'
    %li
      .timeline-badge.work
        %i.fa.fa-star-half-o
      .timeline-panel
        .timeline-heading
          %h4 CTO, Ruboss
          %p
            %small.text-muted
              %i.fa.fa-calendar-o
              Sept 2010 - Sept 2012
        .timeline-body
          %p
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In mattis eros in leo rhoncus lacinia. Morbi faucibus pellentesque leo sit amet gravida. Etiam faucibus vitae purus et tincidunt. Aliquam non vulputate sapien, id imperdiet dui. Nullam justo mauris, consequat imperdiet fringilla eget, sollicitudin a eros. Praesent facilisis, orci a convallis iaculis, nunc nisl consequat massa, sollicitudin malesuada erat lacus ut massa.
    %li.timeline-inverted
      .timeline-badge.work
        %i.fa.fa-money
      .timeline-panel
        .timeline-heading
          %h4 Senior Developer, SAP
          %p
            %small.text-muted
              %i.fa.fa-calendar-o
              Jun 2009 - Jul 2010
        .timeline-body
          %p
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In mattis eros in leo rhoncus lacinia. Morbi faucibus pellentesque leo sit amet gravida. Etiam faucibus vitae purus et tincidunt. Aliquam non vulputate sapien, id imperdiet dui. Nullam justo mauris, consequat imperdiet fringilla eget, sollicitudin a eros. Praesent facilisis, orci a convallis iaculis, nunc nisl consequat massa, sollicitudin malesuada erat lacus ut massa.
    %li
      .timeline-badge
        %i.fa.fa-graduation-cap
      .timeline-panel
        .timeline-heading
          %h4 Master of Software Systems, UBC
          %p
            %small.text-muted
              %i.fa.fa-calendar-o
              Jun 2008
        .timeline-body
          %p
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In mattis eros in leo rhoncus lacinia. Morbi faucibus pellentesque leo sit amet gravida. Etiam faucibus vitae purus et tincidunt. Aliquam non vulputate sapien, id imperdiet dui. Nullam justo mauris, consequat imperdiet fringilla eget, sollicitudin a eros. Praesent facilisis, orci a convallis iaculis, nunc nisl consequat massa, sollicitudin malesuada erat lacus ut massa.
    %li
      %a#back-to-top-button.timeline-badge.back-to-top
        %i.fa.fa-angle-up

#modal.modal
  #fotorama.fotorama(data-width = '100%' data-nav = 'thumbs' data-max-height = '100%' data-max-width = '100%' data-click = 'true'
    data-swipe = 'true' data-allowfullscreen = 'native' data-keyboard = 'true' data-hash = 'true')
    - [1,2,3,4,5,6,7,8,9,10].each do |item|
      = link_to image_tag('default.jpg'), '/images/default.jpg', :id => item, 'data-thumb' => '/images/default.jpg'
  %a.close
    %i.fa.fa-2x.fa-times.fa-inverse